*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #4c4a4a;
}

.chat-global {
    width: 95%;
    height: 95%;
    margin: 0 auto;
    top: 10px;
    border-radius: 25px;
    box-shadow: 0 30px 70px 0px rgba(0,0,0,0.2);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    top: 5px;
}

.nav-top {
    position: relative;
    background: #33353e;
    top: 0px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(51,51,51,0.2);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.location {
    width: 100px;
    display: flex;
    align-items: center;
}
.location img {
    width: 30px;
    margin-left: 10px;
}
.location p {
    font-size: 20px;
    margin-left: 5px;
    color:  #b0c1c1;
}

.utilisateur {
    flex: 1;
    text-align: center;
}

.utilisateur p:nth-child(1){
    font-size: 20px;
    color: #199be2;
    font-family: cursive;
    letter-spacing: 2px;
}

.api-choice {
    flex: 1;
    text-align: right;
}

.api-choice img{
    width: 60px;
    padding: 5px 10px;
}


/* **********CONVERSATION********** */

.conversation {
    width: 100%;
    height: 75%;
    margin: 0 auto;
    /* display: flex; */
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: scroll;
    padding: 10px;
}

/* Scroll (Conversation) */

.conversation::-webkit-scrollbar {
    width: 10px;
    padding: 2px;
}

.conversation::-webkit-scrollbar-track {
    background: #4c4a4a; /* Fond de la barre de défilement */
}

.conversation::-webkit-scrollbar-thumb {
    background-color: #888; /* Couleur de la curseur */
    border-radius: 3px;
}

/*  */

.talk {
    margin: 20px 0;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 50%;
    height: auto;
}
.talk img {
    width: 50px;
    border-radius: 50%;
    margin-bottom: auto;
}

.talk p {
    max-width: 100%;
    padding: 15px;
    line-height: 25px;
    border-radius: 20px;
    text-align: justify;
}
.right {
    /* margin-left: 50px; */
    float: inline-end;
    width: 51%; /* 51 au lieu de 50 pour ne pas mettre les 2 messages sur une ligne */
    /* text-align: right; */
    align-self: flex-end;
    display: inline-flexbox;
}
.right p {
    max-width: 100%;
    margin-right: 10px;
    background:#3b5674;
}
.left p {
    margin-left: 10px;
    background: rgb(52 52 52 / 47%);
    color: #cfc9c9;
}

/* Pseudo de l'utilisateur */
.mypseudo{
    color: rgb(4 105 189);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* **********FORM********** */

.chat-form {
    flex-shrink: 0;
    width: 100%;
    height: 90px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #33353e;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.container-inputs-stuffs {
    background: #4c4a4a;
    display: flex;
    width: 96%;
    height: 60px;
    border-radius: 9999px;
}

.group-inp {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.group-inp img {
    width: 30px;
}
.group-inp textarea {
    resize: none;
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: #bdc3df;
}

.submit-msg-btn {
    background: transparent;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 70px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px;

}

.submit-msg-btn img {
    width: 30px;
}

.submit-msg-btn img:hover {
    padding: 3px;
    background-color: #535858;
    transition: 0.3s;
}


/* OTHERS */
#vocal-btn{
    cursor: pointer;
    margin: 8px 0px;
    padding: 5px;
}

#logout{
    cursor: pointer;
    flex: 1;
    text-align: left;
}

/* POPUP */
#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 150px;
    background-color: #b3b2b2;
    border-radius: 10px;
    box-shadow: 0 10px 50px 0px rgba(0,0,0,0.2);
    text-align: center;
    padding: 10px;
    padding-top: 3%;
    z-index: 1000;
    display: none;
}

#popup h1{
    font-size: 20px;
    color: #585858;
}

#popup button{
    font-size: 18px;
    padding: 5px 15px;
    cursor: pointer;
    border: 0;
    color: white;
    border-radius: 5px;
}

#no-btn{
    background-color: #748497;
}

#no-btn:hover{
    transition: .2s;
    background-color: #808d9c;
}

#yes-btn{
    background-color: #199be2;
}

#yes-btn:hover{
    transition: .2s;
    background-color: #2aa6e9;
}

/************* Code *************/
code{
    display: block !important;
    background-color: #323333 !important;
    color: #ddcaeb !important;
    text-shadow: 0 1px #8f8f8f !important;
    white-space: pre !important;
    padding: 10px !important;
    margin: 10px !important;
    overflow-x: auto;
}

/* Séléction du contenu */
code::selection, .token::selection{
    background-color: #494949 !important;
}

.token{
    background-color: #323333 !important;
}

/* STYLE DU SCROLLBAR (Code) */
code::-webkit-scrollbar {
    height: 6px;
}

code::-webkit-scrollbar-track {
    background: #f4f4f4; /* Fond de la barre de défilement */
}

code::-webkit-scrollbar-thumb {
    background-color: #888; /* Couleur de la curseur */
    border-radius: 3px;
}

/* Bouton - copy */
.copy{
    display: block;
    width: 50%;
    padding: 2px;
    margin: auto;
    margin-bottom: -2%;
    margin-top: 2%;
    border: 1px solid #767171;
    color: #cfc9c9;
    background-color: #383737;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}

.copy:hover{
    background-color: rgb(68, 68, 68);
    transition: .3s;
}


/********** LOADING **********/

.loading span{
    position: absolute;
    height: 6px;
    width: 6px;
    background: #0078FF;
    border-radius: 50%;
    transform: rotate(calc(var(--i) * (360deg / 8))) translateY(14px);
    animation: animate 1.5s linear infinite;
    animation-delay: calc(var(--i) * 0.1s);
    opacity: 0;
}

@keyframes animate {
    0%{ opacity: 1; }
    100%{ opacity: 0; }
}


/********** SCREEN **********/

@media (max-width: 600px){
    .right{ width: 80%; }
    .talk{ width: 80%; }
}

@media (min-width: 600px) and (max-width: 700px){
    .right{ width: 70%; }
    .talk{ width: 70%; }
}

@media (min-width: 700px) and (max-width: 800px){
    .right{ width: 60%; }
    .talk{ width: 60%; }
}

@media (min-width: 800px) and (max-width: 900px){
    .right{ width: 65%; }
    .talk{ width: 65%; }
}

@media (min-height: 450px) and (max-height: 550px){
    .conversation{ padding-top: 40px; }
    #popup{height: 100px;}
}

@media (max-height: 450px){
    .conversation{ padding-top: 50px; }
    #popup{height: 100px;}
}